* {
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dfeee7;
}

.container {
  width: 100%;
  max-width: 420px;
  padding: 1rem;
}

.card {
  background: #cecece;
  padding: 1.5rem;
  border-radius: 12px;
  text-align: center;
}

.hidden {
  display: none;
}

button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  background: #678777;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #268a5c;
}

#progress {
  font-size: 14px;
  color: #716b76;
  margin-bottom: 8px;
}

.answer-btn {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cecccd;
  background: #cbcbc9;
  cursor: pointer;
}

.answer-btn.correct {
  background: #49a04c;
  color: rgb(244, 244, 244);
}

.answer-btn.wrong {
  background: #580302;
  color: white;
}

.explanation {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}
